<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf8" />
	<meta name="author" content="Stepan Cenek; scenek(at)macroware.cz" />
	<meta name="copyright" content="Stepan Cenek [ssimon]" />
	<meta name="description" content="Aviváž -- klub přátel směsi zelené a mlíčka" />
	<title>aviváž club</title>
	<link title="enter" rel="stylesheet" type="text/css" href="/style/avivaz-enter-cuddling.css" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="/js/flash_fix.js"></script>
	<script type="text/javascript" src="/js/init-intro.js"></script>
</head>
<body id="enter">
	{{ content }}

	<p class="reader">
		"aviváž život není černobílý"... jen vstupte a objevte harmonické propojení, které vytváří peprmintový likér a mlíčko do kávy!
	</p>
	<div class="footer"><a href="avivaz.html" title="jen vstup do aviváž clubu a poznej co udělá peprmintový likér a mlíčko">&raquo; skip intro &raquo;</a></div>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222132-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-222132-1');
	</script>

	<script type="text/javascript">
		_uacct = "UA-222132-1";
                _uOsr.push("seznam.cz");     _uOkw.push("w");
                _uOsr.push("centrum.cz");    _uOkw.push("q");
                _uOsr.push("jyxo.cz");       _uOkw.push("s");
                _uOsr.push("atlas.cz");      _uOkw.push("q");
                _uOsr.push("zoohoo.cz");     _uOkw.push("q");
                _uOsr.push("tiscali.cz");    _uOkw.push("query");
                _uOsr.push("1.cz");          _uOkw.push("q");
                _uOsr.push("volny.cz");      _uOkw.push("search");

		for (var i=1; i<_uOsr.length; i++) {
                  if( _uOsr[i] == "search") {
                    _uOsr[i] = "search.com";
                    break;
                  }
                }
                urchinTracker();
	</script>
</body>
</html>
